@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&family=Poppins&display=swap');

/*        1200x608         */


/*          State          */

.hide {
    display: none;
}

/*          General          */

:root {
    --dark-blue: #324871;
    --green: #3BA782;
    --white: #F2F2F2;
    --light-grey: #EDEDF3;
    --grey: #6F717D;
    --yellow: #FFC53D;
    --orange: #F0791D;
    --black: #222222;
}

html {
    height: 100vh;
}

body {  
    background-color: var(--white);
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    margin-left: 10rem;
    padding: 1rem;
    box-sizing: border-box;
}

/*          Nav Bar          */

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .nav-item:first-child {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }   
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .navbar:hover {
        width: 16rem;
    }
    
    .navbar:hover .link-text {
        display: inline;
    }
    
    .navbar:hover .logo-text {
        display: inline;
    }

    .nav-item:last-child {
        margin-top: auto;
    }
}

.navbar {
    position: fixed;
    background-image: linear-gradient(45deg, var(--green), var(--dark-blue));
    transition: width 200ms ease;
    font-family: 'Open Sans', sans-serif;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:first-child {
    padding-top: 1rem;
}

.nav-link {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 4rem;
    color: var(--light-grey);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(200ms);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background-color: var(--light-grey);
    color: var(--dark-blue);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.logo-text {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 1rem;
}

.nav-link .fa {
    min-width: 2rem;
    margin: 0 1.5rem;
}

/*          FAQ Element             */

#faq-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
    gap: 2em;
    padding: 2em;
}

#faq-page h1 {
    font-family: 'Montserrat', sans-serif;
}

#faq-list {
    list-style-type: none;
    margin: 0;
}

.faq-element-checkbox {
    display: none;
}

.faq-element-header {
    display: flex;
    align-items: center;
    gap: 2em;
    margin: 0;
    padding: 0 2em;
    cursor: pointer;
}

.faq-element-answer {
    border-left: 1px solid var(--grey);
    margin: 0 2.5em;
    height: 0;
    opacity: 0;
    transition: all .4s ease;
}   

.faq-element-checkbox:checked ~ .faq-element-answer {
    padding: 1em;
    height: auto;
    opacity: 1;
}

.fetch-more {
    background-color: var(--grey);
    color: var(--white);
    font-weight: 600;
    border: none;
    border-radius: 1em;
    padding: 0.5em 1em;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
}

.fetch-more:hover {
    background-color: var(--green);
}

.fetch-more:active {
    transform: translateY(3px);
}

/*          Users list          */

#user-list-page {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0 16em 0 5em;
}

#user-list {
    width: 100%;
    margin: 0;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    text-align: center;
}

#table-header {
    background-color: var(--grey);
    color: var(--white);
}

.user-list-element td {
    padding: 1em 1.5em;
}

.user-list-element:nth-child(odd) {
    background-color: var(--light-grey);
}

.user-list-element:nth-child(even) {
    background-color: var(--white);
}

#bottom-side button {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

#bottom-side button:active {
    transform: scale(0.95);
}

#bottom-side button:hover {
    background-color: var(--grey);
    color: var(--white);
}

/*              Options bar               */

#options-bar {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    height: 100vh;
    width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(45deg, var(--green), var(--dark-blue));
}

#options-bar h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    text-align: center;
}

#options-bar #bottom-side {
    margin: 1em 2em;
    display: flex;
    flex-direction: column;
    gap: .3em;
}

/* ------------------------------------------------------ TICKET ------------------------------------------------------ */

/*          Ticket          */

#ticket-list-page {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0 16em 0 5em;
    height: 100vh;
}

#ticket-list {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-padding-top: 1em;
}

/* #ticket-list {
    margin: 0;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    text-align: center;
} */

.ticket-list-element {
    width: fit-content;
    height: fit-content;
    background-color: var(--light-grey);
    border-radius: 1em;
    display: grid;
    grid-template-columns: 25em 7em; 
    grid-template-rows: 2em 2em 3em;
    gap: 0px 0px;
    margin: 1em;
    padding: 1em;
    grid-auto-flow: row;
    grid-template-areas: 
        "title time"
        "description description"
        "tags author"; 
    font-family: "Open Sans", sans-serif;
    scroll-snap-align: start;
    text-decoration: none;
    color: var(--black);
}

.ticket-list-element .title {
    grid-area: title;
    margin: 0;
}

.ticket-list-element .description {
    grid-area: description;
    margin: 0;
}

.ticket-list-element .time {
    grid-area: time;
    margin: 0;
}

.status {
    grid-area: status;
    border-radius: 1.5em;
    padding: 0.5em 1em 0.5em 1em;
    text-align: center;
    margin: 0;
}

.tags {
    grid-area: tags;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: baseline;
}

.tags .tag {
    border-radius: 1em;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0;
}

.ticket-list-element .author {
    grid-area: author;
    padding-left: 1em;
    margin: auto 0;
}


/*          Ticket Page          */

#ticket {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ticket #description-label {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    align-content: left;
    margin-top: 0.5em;
    font-size: 24px;
    font-weight: 900;
}

#ticket #description {
    width: 80%;
    border: #222222 1px double;
    padding: 1.5em;
    border-radius: 2em;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
}

#ticket #info {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 2em;
}


#ticket .tags {
    align-items: center;
}

#image-list {
    height: fit-content;
    width: fit-content;
    background: var(--white);
    display: flex;
    gap: 1rem;
}

.image-list-element {
    transition: transform .2s;
    max-width: 30%;
}

.image-list-element:hover {
    transform: scale(1.25);
}

.date {
    align-self: flex-end;
    padding: 2em;
}

/*              Options bar               */

#filters-bar {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    height: 100vh;
    width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(45deg, var(--green), var(--dark-blue));
}

#filters-bar h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    text-align: center;
}

#filters-bar #bottom-side {
    font-family: "Source Sans Pro", sans-serif;
    color: var(--black);
    margin: 1em 2em;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    gap: .3em;
}

/*          New Ticket          */

#new-ticket-page {
    margin: 0 10rem;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#new-ticket {
    background-image: linear-gradient(45deg, var(--green), var(--dark-blue));
    width: 60%;
    max-width: 40rem;
    height: 30rem;
    padding: 2em;
    font-family: 'Monserrat', sans-serif;
    color: var(--white);
    font-weight: 600;
    border-radius: 2em;
}

#new-ticket h3 {
    text-align: center;
    font-size: 2em;
}

#new-ticket fieldset {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

#new-ticket fieldset #horizontal {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

#new-ticket fieldset #horizontal * {
    width: 40%;
}

#new-ticket input, select, textarea {
    color: var(--black);
    width: 80%;
    border: none;
    border-radius: 5px;
    background: var(--white);
    padding: 10px;
    font-style: "Open Sans", sans-serif;
}

#new-ticket textarea {
    height: 5rem;
    resize: none;
}

#new-ticket #submit {
    width: 30%;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    box-shadow: 0 3px #999;
    transition: all .5s;
}

#new-ticket #submit:active {
    box-shadow: 0 3px #666;
    transform: translateY(3px);
}

#new-ticket #submit:hover {
    background-color: var(--grey);
    color: var(--white);
}