@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&family=Poppins&display=swap');

/*        1200x608         */

.hide {
    display: none;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

/*          General          */

:root {
    --dark-blue: #324871;
    --green: #3BA782;
    --white: #F2F2F2;
    --light-grey: #EDEDF3;
    --grey: #6F717D;
    --yellow: #FFC53D;
    --orange: #F0791D;
    --black: #222222;
}

body {  
    background-color: var(--white);
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    margin: 0 5rem;
    padding: 2rem;
}

header {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

#status {
    border-radius: 5px;
    padding: 1em;
    border: none;
}

#save-button {
    border-radius: 5px;
    padding: 1em;
    background-color: transparent;
    color: var(--black);
    font-weight: 600;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#description {
    padding: 1em;
    border-left: var(--black) solid 2px;
    border-bottom: var(--black) solid 2px;
}

#tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.tag {
    padding: 0.5em;
    border-radius: 5px;
    font-size: 0.8em;
}

#documents-list {
    overflow-x: scroll;
    scroll-snap-type: y proximity;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

#documents-list img {
    width: 15rem;
}

#log {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#log > * {
    width: 70%;
}

.comment {
    border-top: var(--black) solid 2px;
}

.comment-bottom {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
}

.comment-bottom * {
    margin: 0;
}

.update {
    border-top: var(--black) solid 2px;
    display: flex;
    justify-content: center;
    gap: 2em;
}

/*          Nav Bar          */

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .nav-item:first-child {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }   
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .navbar:hover {
        width: 16rem;
    }
    
    .navbar:hover .link-text {
        display: inline;
    }
    
    .navbar:hover .logo-text {
        display: inline;
    }

    .nav-item:last-child {
        margin-top: auto;
    }
}

.navbar {
    position: fixed;
    background-image: linear-gradient(45deg, var(--green), var(--dark-blue));
    transition: width 200ms ease;
    font-family: 'Open Sans', sans-serif;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:first-child {
    padding-top: 1rem;
}

.nav-link {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 4rem;
    color: var(--light-grey);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(200ms);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background-color: var(--light-grey);
    color: var(--dark-blue);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.logo-text {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 1rem;
}

.nav-link .fa {
    min-width: 2rem;
    margin: 0 1.5rem;
}