/*          Users list          */

#user-list-page {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0 16em 0 5em;
}

#user-list {
    width: 100%;
    margin: 0;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    text-align: center;
}

#table-header {
    background-color: var(--grey);
    color: var(--white);
}

.user-list-element td {
    padding: 1em 1.5em;
}

.user-list-element:nth-child(odd) {
    background-color: var(--light-grey);
}

.user-list-element:nth-child(even) {
    background-color: var(--white);
}

#bottom-side button, #top-side button {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

#bottom-side button:active, #top-side button:active{
    transform: scale(0.95);
}

#bottom-side button:hover, #top-side button:hover {
    background-color: var(--grey);
    color: var(--white);
}

/*              Options bar               */

#options-bar {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    height: 100vh;
    width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(45deg, var(--green), var(--dark-blue));
}

#options-bar h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    text-align: center;
}

#options-bar #bottom-side {
    margin: 1em 2em;
    display: flex;
    flex-direction: column;
    gap: .3em;
}